Primjeri/MoviesWS.SSL.WithoutAuth/MoviesWS.ConsumerCmdProxy/Service References/WSMoviesPublic/Public1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="https://dadamec-lp/MoviesWS.HostWeb/Public.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/MoviesWS.Contracts" />
  <xs:element name="GetMovie">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMovieResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/MoviesWS.Contracts" minOccurs="0" name="GetMovieResult" nillable="true" type="q1:Movie" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>